@{
    var placeholder = string.Empty;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"] as string;
    }

}
@Styles.Render("~/Content/css")
@Styles.Render("~/font-awesome/css")

@Html.Partial("HomeHeaderRegister")
<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
</head>
<body>
    <br /><br /><br /><br />
    <div class="panel-default">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 registration-form">
                <div class="container">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="margin-top:100px;">
                        <div class="panel panel-success">
                            <div class="panel panel-heading">
                                <h3>Create new account</h3>
                            </div>
                            <div class="panel panel-body">
                                @model SystemProject.Models.RegisterViewModel
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email as Username" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Fullname" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.ContactNumber, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", placeholder = "Contact Number" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.Websites, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Websites, new { @class = "form-control", placeholder = "Websites or Others" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12" style="height:150px;">
                                            <input type="submit" id="login" class="btn btn-default" value="Register" style="margin:5% 15% 15% 15%; width:200px;" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("HomeFooter")
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <script type="text/javascript">


        </script>
</body>
</html>
