@model SystemProject.Models.RegisterViewModel


@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>*@
}
@Styles.Render("~/Content/css")
@Styles.Render("~/font-awesome/css")

     @Html.Partial("HomeHeaderRegister")
   
    <br/><br /><br /><br /><br /><br /><br />
       <div class="panel-body" >
           <div class="row">
               <div class="col-md-8"></div>
               <div class="col-md-4">
                    <div class="registration-form">
                           <form action="/" method="post">
                               <div class="form-group">
                                   <input type="text" class="form-control" name="uname" value="" placeholder="Username.." />
                               </div>
                               <div class="form-group">
                                   <input type="text" class="form-control" name="email" value="" placeholder="Email.." />
                               </div>
                               <div class="form-group">
                                   <input type="password" class="form-control" name="password" value="" placeholder="Password.." />
                               </div>
                               <div class="form-group">
                                   <input type="password" class="form-control" name="retpassword" value="" placeholder="Re-Type Password.." />
                               </div>
                               <div class="form-group">
                                   <textarea rows="10" cols="20" class="form-control" name="address" placeholder="Address.."></textarea>
                               </div>
                               <div class="form-group">
                                   <input type="text" class="form-control" name="contactno" value="" placeholder="Contact No..." />
                               </div>
                               <div class="form-group">
                                   <input type="text" class="form-control" name="typeofbusiness" value="" placeholder="Types of Business.." />
                               </div>
                               <div class="form-group">
                                   <input type="text" class="form-control" name="website" value="" placeholder="Websites..." />
                               </div>
                               <div class="form-group">
                                   <button type="submit" name="submit" class="btn btn-primary form-control">Submit</button>
                               </div>
                               <div class="form-group">
                                   <button type="submit" name="submit" class="btn btn-danger form-control">Clear Field</button>
                               </div>
                           </form>
                       </div>
               </div>
       </div>
   </div>
        <div class="row">
                <div class="col-md-12">
                    @Html.Partial("HomeFooter")
                </div>
         </div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
