@{
    ViewBag.Title = "VisitorDetails";
}
@{
    var placeholder = string.Empty;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"] as string;
    }


}
@Styles.Render("~/Content/css")
@Styles.Render("~/font-awesome/css")
@Html.Partial("MainHeader")

<div class="container" id="main-container">
    <div class="row">
       
            <div class="col-md-3">
                <div class="form-group form-horizontal">
                    @model SystemProject.Models.Visitor
                    @using (Html.BeginForm("Main", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Post Here</h3>
                        @Html.ValidationSummary(" ", new { @class = "text-danger " })
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.name, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Full name" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.email, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "Email Address" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.date_visited, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.date_visited, new { @class = "form-control", placeholder = "" , type="Date" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" style="background-color:rgba(0,0,0,0.1);height:100px; border-radius;">
                                <input type="submit" class="btn btn-success" value="Post" style="margin-left:25%; margin-top:9%; width:50%;" />
                            </div>

                        </div>
                    }
                </div>
            </div>
       
        <div class="col-md-6">
         
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
<script type="text/javascript">

</script>
@Html.Partial("HomeFooter")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">

    function addPost() {



        function requiredField() {
            var isValid = true;
            $('.requiredField').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            return isValid;
        }
    }

</script>



