@*<div class="container">
        <div class="panel panel-heading">
            <div class="row">
                <div class="panel-heading">
                    <div class="col-md-8">
                        <p>
                            Join us and be part of our team.<br />
                            Don't have an Account Yet. <a href="">@Html.ActionLink("Click Here", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-block">Continue as Shopper's</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <img src="~/img/"
        </div>
        <br/><br />
       <<hr />
        <br/>
        <div class="row">
             <div class="panel-body">
                    <div class="col-md-7">
                        <img src="~/img/1.jpg" />
                    </div>
                    <div class="col-md-5">
                        <p>
                        </p>
                    </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="panel-body">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">
                    <img src="~/img/1.jpg" />
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="panel-body">
                <div class="col-md-7">
                    <img src="~/img/1.jpg" />
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/bootstrap")
    <script type="text/javascript">
        $('carousel').carousel()
    </script>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SmartShop</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
</head>
<body>
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Header -->
    <header id="top" class="header">
        @Html.Partial("HomeHeader")
        <br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br />
        <div class="text-vertical-center" align="center">
            <h1>Smart Shop</h1>
            <br>
            <a href="~/Account/Register" class="btn btn-success btn-lg">Proceed</a>
        </div>
    </header>
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <p class="lead">is your partner to grow your business - a dynamic organization which can contribute reliable travel technology services to Small time Business Enterprises through our easy-to-use, efficient and effective Platform..</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Our Work</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- Portfolio -->
    <section id="team" class="portfolio">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <h1 class="text-center">Team</h1>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <h4>Project Manager</h4>
                                            <hr />
                                            <p>Janice Lado</p>
                                            <img src="~/img/jan.jpg" class="img-responsive" />
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">

                                        <div class="col-md-5 col-md-offset-1">
                                            <h4>UI Designer</h4>
                                            <hr />
                                            <p>Christian Rivera</p>
                                            <img src="~/img/chr.jpg" class="img-responsive" />
                                        </div>
                                        <div class="col-md-5 ">
                                            <h4>Technical Writer/ QA Tester</h4>
                                            <hr />
                                            <p>Anjanette Mercado</p>
                                            <img src="~/img/anj.jpg" class="img-responsive" />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">

                                        <div class="col-md-5 col-md-offset-1">
                                            <h4>Developer</h4>
                                            <hr />
                                            <p>Christian Rivera</p>
                                            <img src="~/img/phil.jpg" class="img-responsive" />
                                        </div>
                                        <div class="col-md-5 ">
                                            <h4>Database Designer</h4>
                                            <hr />
                                            <p>Nichole Mabini</p>
                                            <img src="~/img/nich.jpg" class="img-responsive" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

        <!-- /.container -->
    </section>
    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </aside>
    <!-- Map -->
    <section id="contact" class="map">
        <div id="map"></div>
        <script>
            var map;
            var d = new Date();
            var gh = d.getUTCHours();
            var h = new Date();
            var sh = h.setUTCHours(18, 00, 00, 00);


            if (gh <= sh || gh >= sh) {
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: 10.296381,
                            lng: 123.896269

                        },
                        zoom:12 ,

                    });
                }
            } else {
                function initMap() {
                    // Styles a map in night mode.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 10.296381, lng: 123.896269 },
                        zoom: 12,
                        styles: [
                          { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
                          { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
                          { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
                          {
                              featureType: 'administrative.locality',
                              elementType: 'labels.text.fill',
                              stylers: [{ color: '#d59563' }]
                          },
                          {
                              featureType: 'poi',
                              elementType: 'labels.text.fill',
                              stylers: [{ color: '#d59563' }]
                          },
                          {
                              featureType: 'poi.park',
                              elementType: 'geometry',
                              stylers: [{ color: '#263c3f' }]
                          },
                          {
                              featureType: 'poi.park',
                              elementType: 'labels.text.fill',
                              stylers: [{ color: '#6b9a76' }]
                          },
                          {
                              featureType: 'road',
                              elementType: 'geometry',
                              stylers: [{ color: '#38414e' }]
                          },
                          {
                              featureType: 'road',
                              elementType: 'geometry.stroke',
                              stylers: [{ color: '#212a37' }]
                          },
                          {
                              featureType: 'road',
                              elementType: 'labels.text.fill',
                              stylers: [{ color: '#9ca5b3' }]
                          },
                          {
                              featureType: 'road.highway',
                              elementType: 'geometry',
                              stylers: [{ color: '#746855' }]
                          },
                          {
                              featureType: 'road.highway',
                              elementType: 'geometry.stroke',
                              stylers: [{ color: '#1f2835' }]
                          },
                          {
                              featureType: 'road.highway',
                              elementType: 'labels.text.fill',
                              stylers: [{ color: '#f3d19c' }]
                          },
                          {
                              featureType: 'transit',
                              elementType: 'geometry',
                              stylers: [{ color: '#2f3948' }]
                          },
                          {
                              featureType: 'transit.station',
                              elementType: 'labels.text.fill',
                              stylers: [{ color: '#d59563' }]
                          },
                          {
                              featureType: 'water',
                              elementType: 'geometry',
                              stylers: [{ color: '#17263c' }]
                          },
                          {
                              featureType: 'water',
                              elementType: 'labels.text.fill',
                              stylers: [{ color: '#515c6d' }]
                          },
                          {
                              featureType: 'water',
                              elementType: 'labels.text.stroke',
                              stylers: [{ color: '#17263c' }]
                          }
                        ]
                    });
                }
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNIIahV5mBJjrv2aJJrFTMWP6pvJI5fVg&callback=initMap"
                async defer></script>
    </section>
    <!-- Footer -->
    <footer>
        @Html.Partial("HomeFooter")
    </footer>
</body>

</html>

