<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post - Details</title>

</head>
@Styles.Render("~/Content/css")
@Styles.Render("~/font-awesome/css")
@Html.Partial("MainHeader")
<body>
    <div class="row main-container">
        <div class="col-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <label for="category">Category</label>
                        <br />
                        <input type="text" name="category" id="categoryname" class="form-control" />
                        <br />
                        <label for="categorydesc">Category Description</label>
                        <br />
                        <input type="text" name="categorydesc" id="categorydesc" class="form-control" />
                        <br />
                        <label for="title">Title</label>
                        <br />
                        <input type="text" name="title" id="title" class="form-control" />
                        <br />
                        <label for="details">Details</label>
                        <br />
                        <textarea type="text" name="details" id="details" class="form-control" rows="15" cols="15"></textarea>
                        <br />
                        <label for="contactperson">Contact Person</label>
                        <br />
                        <input type="text" name="contactperson" id="contactperson" class="form-control" />
                        <br />
                        <label for="contactnumber">Contact Number</label>
                        <br />
                        <input type="text" name="contactnumber" id="contactnumber" class="form-control" />
                        <br />
                        <label for="website">Website</label>
                        <br />
                        <input type="text" name="website" id="website" class="form-control" />
                        <br />
                        <label for="date">Date Post</label>
                        <br />
                        <input type="date" name="date" id="date" class="form-control" />
                        <br />
                        @*<label for="photo">Images</label>
                        <br />
                        <input type="file" name="photo" id="photo" class="form-control" />
                        <br />*@
                        <label for="active">Active</label>
                        <br />
                        <input type="checkbox" name="active" id="active" class="" />
                        <br /><br />
                        <button type="submit" class="btn btn-info btn-block" onclick="addPostItem()">Post</button>
                    </div>
                    <div class="col-md-8">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-7" >
                        <table>
                            <thead>
                                <tr>
                                    <td class="hot">Hot Sales</td>
                                    <td class="sales">Item Sales</td>
                                    <td class="most">Most Viewed Items</td>
                                </tr>
                            </thead>
                        </table>
                        <br /><br /><br />
                        <div class="row" style="border:1px solid black; ">
                            <div class="col-md-12">
                                <h5>Category</h5>
                                <hr />
                                <h5>Category Description</h5>
                                <hr />
                                <h5>Title</h5>
                                <hr />
                                <h5>Details</h5>
                                <hr />
                                <h5>Category</h5>
                                <hr />
                                <h5>Contact Person</h5>
                                <hr />
                                <h5>Contact Number</h5>
                                <hr />
                                <div class="row" style="border:1px solid black; height:100px;">
                                    <div class="col-md-12">
                                        Comment Here
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</body>
@Html.Partial("HomeFooter")
</html>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    console.log(getPostData());

    function getPostData() {
        var postObject = new Object();
        postObject.categoryname = document.getElementById("categoryname").value;
        postObject.categorydescription = document.getElementById("categorydesc").value;
        postObject.title = document.getElementById("title").value;
        postObject.details = document.getElementById("details").value;
        postObject.contact_person = document.getElementById("contactperson").value;
        postObject.contact_number = document.getElementById("contactnumber").value;
        postObject.website = document.getElementById("website").value;
        postObject.date_created = new Date(document.getElementById("date").value);
        //postObject.photo = document.getElementById("photo").value;
        postObject.is_active = document.getElementById("active").checked;
        return JSON.stringify(postObject)
    }

    function addPostItem() {
        $.ajax({
            type: "POST",
            url: '/api/post/add',
            data: getPostData(),
            contentType: "application/json;charset=utf-8",
            statusCode: {
                200: function () {
                    toastr.success("Post Success");
                },
                400: function (message) {
                    toastr.error(message.responseText.replace(/"/g, ""), "Bad Request");
                }
            }
        });
    }

    
</script>