@{
    var placeholder = string.Empty;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"] as string;
    }


}


@Styles.Render("~/Content/css")
@Styles.Render("~/font-awesome/css")
@Html.Partial("MainHeader")

    @*<br /><br /><br /><br />
        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <form>
                            <h3>Add Post Here</h3>
                            <div class="form-group">
                                <input type="text" name="posttitle" value=" " class="form-control required" placeholder="asdasd" />
                            </div>
                            <div class="form-group" id="category">
                                <select class="form-control">
                                    <optgroup label="T-shirt">
                                        <option label="">Category</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="15" cols="20" placeholder="Item Details"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" name="contactper" value=" " class="form-control required" placeholder="Contact Person" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="contactnos" value=" " class="form-control required" placeholder="Contact Number" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="website" value=" " class="form-control required" placeholder="Website or Facebook Pages" />
                            </div>
                            <div class="form-group">
                                <input type="date" name="contactnos" value=" " class="form-control required" placeholder="Date Created" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-defalt text-center " name="img" id="img">Images</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block" name="addpost">Add Post</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-block" name="addpost" onclick="addPost()">Reset</button>
                            </div>
                        </form>
                    </div>
                    <br /><br /><br />
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8" style="height:200px; border:1px solid black;" id="postdiv">
                                <h1>Post here..</h1>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6" style="height:200px; border:1px solid black;" id="postdiv">
                                <p>ads</p>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="container" id="main-container">
        <div class="row">
@if (Request.IsAuthenticated)
{
            <div class="col-md-3">
                <div class="form-group form-horizontal">
                    @model SystemProject.Models.Post
                    @using (Html.BeginForm("Main", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Post Here</h3>
                        @Html.ValidationSummary(" ", new { @class = "text-danger " })
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.title, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.title, new { @class = "form-control", placeholder = "Title" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.category, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.DropDownList("Categories")
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="15" cols="20" placeholder="Item Details"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.details, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.details, new { @class = "form-control", placeholder = "Details" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.contact_person, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.contact_person, new { @class = "form-control", placeholder = "Contact Person" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.contact_number, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.contact_number, new { @class = "form-control", placeholder = "Contact Number " })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.website, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.website, new { @class = "form-control", placeholder = "Website or Others" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.photo, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.photo, new { @class = "form-control", placeholder = "Images", type = "file" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.date_created, new { @class = "col-md-1 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.date_created, new { @class = "form-control ", placeholder = "Date Created", type = "Date" })
                                    @Html.ValidationMessage("Required")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="background-color:rgba(0,0,0,0.1);height:100px; border-radius;">
                                <input type="submit" class="btn btn-success" value="Post" style="margin-left:25%; margin-top:9%; width:50%;" />
                            </div>

                        </div>
                    }
                </div>
            </div>
            }
            <div class="col-md-6">
                <table>
                    <thead>
                        <tr>
                            <td class="hot">
                                Hot Deals
                            </td>
                            <td class="sales">
                                Sales
                            </td>
                            <td class="most">
                                Most Viewed Items
                            </td>
                        </tr>
                    </thead>
                    <tr></tr>
                </table>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
    @Html.Partial("HomeFooter")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">

        function addPost() {



            function requiredField() {
                var isValid = true;
                $('.requiredField').each(function () {
                    if ($.trim($(this).val()) == '') {
                        isValid = false;
                        $(this).css({
                            "border": "1px solid red"
                        });
                    } else {
                        $(this).css({
                            "border": "",
                        });
                    }
                });

                return isValid;
            }
        }

    </script>

