@Styles.Render("~/Content/css")
@Styles.Render("~/font-awesome/css")
<div class="navbar-default navbar-fixed-top">
    <div class="navbar-primary navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p style="color:white;"><span class="fa fa-phone fa fw"></span> Contact number: #0999999999</p>
                </div>
                <div class="col-md-4" id="font-span">
                    <a href="#"><span class="fa fa-facebook fa fw"></span></a>
                    <a href="#"><span class="fa fa-twitter fa fw"></span></a>
                    <a href="#"><span class="fa fa-instagram fa fw"></span></a>
                </div>
                <div class="col-md-4">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <p class="btn-info text-center main-btn" style="width:100%; border-radius:2px; border:1px solid grey;">@Html.ActionLink("Go To Main", "Main", "Home")</p>
                            </div>
                            <div class="col-md-6">
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <p class="btn-danger text-center logoff-btn" style="width:100%; border-radius:2px; border:1px solid grey;"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></p>
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @if (!Request.IsAuthenticated)
                                {
                                    <p class="btn-success text-center visitor-btn" style="width:100%; border-radius:2px; border:1px solid grey; ">@Html.ActionLink("Continue as Visitor", "VisitorView", "Pages")</p>
                                }
                            </div>
                            <div class="col-md-6">
                                    <p class="btn-default text-center login-btn" style="width:100%; border-radius:2px; border:1px solid grey; ">@Html.ActionLink("Login", "Login", "Account")</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="login-header">
        <div class="col-md-2">
            @*@using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    @Html.AntiForgeryToken()
                    <div class="" id="User">

                    </div>
                    <p id="User-menu">Good day!</p><a href="~/Home/Main">@ViewData["UserName"]</a>
                }*@
        </div>
        <div class="col-md-4">
            <div class="navbar-header">
                <a class="navbar-brand" href="../Home/Index"><img src="~/img/logo.png" id="img" /></a>
            </div>
        </div>
        @Scripts.Render("~/bundles/bootstrap")
        <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a></li>
            </ul>
            <!-- Navigation -->
            <nav id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                    <li class="sidebar-brand">
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <p class="btn btn-lg btn-danger text-center" id="nav-user-btn"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></p>
                        }

                    }
                    else
                    {
                        <p class="btn btn-lg btn-default text-center" id="nav-user-btn">@Html.ActionLink("Login", "Login", "Account")</p>
                    }
                    <li>
                        <a href="#top" onclick=$("#menu-close").click();><span class="fa fa-home fa fw"></span> Home</a>
                    </li>
                    <li>
                        <a href="#about" onclick=$("#menu-close").click();><span class="fa fa-info-circle fa fw"></span> About</a>
                    </li>
                    <li>
                        <a href="#services" onclick=$("#menu-close").click();><span class="fa fa-th-list fa fw"></span> Services</a>
                    </li>
                    <li>
                        <a href="#contact" onclick=$("#menu-close").click();><span class="fa fa-phone fa fw"></span> Contact</a>
                    </li>
                    <li>
                        <a href="#team" onclick=$("#menu-close").click();><span class="fa fa-user-secret fa fw"></span> Team</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>



@*<div class="container-fluid navbar navbar-default navbar-fixed-top">
    <div class="navbar-primary navbar-fixed-top" style="background-color:#3E3D3F; height:23px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p style="color:white;"><span class="fa fa-phone fa fw"></span> Contact number: #0999999999</p>
                </div>
                <div class="col-md-4" id="font-span">
                    <a href="#"><span class="fa fa-facebook fa fw"></span></a>
                    <a href="#"><span class="fa fa-twitter fa fw"></span></a>
                    <a href="#"><span class="fa fa-instagram fa fw"></span></a>
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>
    </div>
  
</div>
<script type="text/javascript">

</script>*@

