<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post - Details</title>

</head>
@Styles.Render("~/Content/css")
@Styles.Render("~/font-awesome/css")
@Html.Partial("PageHeader")
<body>
    <div class="container page-container">
        <div class="row text-vertical-center" id="inner-page-container">
            <div class="col-md-12">
                <div class="row" id="first">
                    <div class="col-md-4" id="first-column">
                        <div class="row" id="inner-first">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="~/img/local.jpg" class="img-responsive" />
                                    </div>
                                        <h4 id="h4local">Local Business</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="second-column">
                        <div class="row" id="inner-first">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="~/img/company.png" class="img-responsive" />
                                    </div>
                                        <h4 id="h4company">Company , Organization or Institution</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="third-column">
                        <div class="row" id="inner-first">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="~/img/brand.jpg" class="img-responsive" />
                                    </div>
                                        <h4 id="h4brand">Brand or Product</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="second">
                    <div class="col-md-4" id="fourth-column">
                        <div class="row" id="inner-second">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="~/img/artist.png" class="img-responsive" />
                                    </div>
                                        <h4 id="h4artist">Artist or Band</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="fifth-column">
                        <div class="row" id="inner-second">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="~/img/entertainment.jpg" class="img-responsive" />
                                    </div>
                                        <h4 id="h4entertainment">Entertainment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="sixth-column">
                        <div class="row" id="inner-second">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="~/img/community.jpg" class="img-responsive" />
                                    </div>
                                        <h4 id="h4community">Cause or Community</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="third">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4" id="seventh-column">
                        <div class="row" id="inner-third">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="~/img/other.jpg" class="img-responsive" />
                                    </div>
                                        <h4 id="h4other">Other</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@Html.Partial("HomeFooter")
</html>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

</script>
@*<div class="panel-default" id="other">
        <label for="category">Category</label>
        <br />
        <select class="form-control">
            <optgroup label="Category"></optgroup>
            <option>Category 1</option>
            <option>Category 2</option>
            <option>Category 3</option>
        </select>
        <br />
        <label for="business">Business Name</label>
        <input type="text" id="business" name="business" placeholder="Business Name" class="form-control" />
        <br />
        <label for="street">Street Address</label>
        <input type="text" id="street" name="street" placeholder="Street Address" class="form-control" />
        <br />
        <label for="zip">Zip Code</label>
        <input type="text" id="zip" name="zip" placeholder="Zip Code" class="form-control" />
        <br />
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" />
        <button type="submit" value="submit" name="submit" class="btn btn-success form-control">Submit</button>
    </div>*@